process {
    withName: combine {
      time= 2.h
      memory = 16.GB
      cpus = 4
    }
    withName: ctseq {
      time= 96.h
      memory = 120.GB
      cpus = 20
    }
    withName: plot {
      time= 1.h
      memory = 16.GB
      cpus = 8
    }
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    scratch = '/scratch/general/lustre/u0806040/tmp'
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'hci-shared-kp'
            clusterOptions = '--account=hci-kp'
        }   
    }
}

timeline {
    enabled = true
    file = "${baseDir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${baseDir}/logs/report.html"
}
trace {
    enabled = true
    file = "${baseDir}/logs/trace.txt"
} 
