process {
    withName: combine_fastqs {
      time= 1.h
      memory = 16.GB
      cpus = 4
    }
    withName: add_umis {
      time= 1.h
      memory = { 16.GB * task.attempt }
      cpus = { 8 * task.attempt }
    }
    withName: align {
      time= 12.h
      memory = { 120.GB * task.attempt }
      cpus = 20
    }
    withName: call_molecules {
      time= 2.h
      memory = { 40.GB * task.attempt }
      cpus = 20
    }
    withName: call_methylation {
      time= 1.h
      memory = { 40.GB * task.attempt }
      cpus = 8
    }
    withName: plot {
      time= 1.h
      memory = 16.GB
      cpus = 8
    }
    cache = 'lenient'
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
        }   
    }
}

timeline {
    enabled = true
    file = "${baseDir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${baseDir}/logs/report.html"
}
trace {
    enabled = true
    file = "${baseDir}/logs/trace.txt"
} 
